<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}

    <title>Landingpage</title>
  </head>
  <body>
    {% render 'components/button/button', text: 'Test' %}

    {% render 'components/button/button', text: 'Test', variant: 'Secondary' %}

    {% include 'partials/theme-settings.liquid' %}

    {% include 'partials/global-scripts.html' %}
  </body>
</html>
