<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'partials/global-styles.html' %}

    <title>Landingpage</title>
  </head>
  <body>
    {% capture content %}
      {% render 'components/hero/hero' %}
    {% endcapture %}

    {% render 'components/section/section', content: content %}

    <ul class="u-NoList Accordion">
      {% render 'components/accordion-item/accordion-item',
        label: 'What is accordion?',
        content: 'Accordion is great!'
      %}

      {% render 'components/accordion-item/accordion-item',
        label: 'What is accordion?',
        content: 'Accordion is great!'
      %}
    </ul>

    {% render 'components/link/link', text: 'Link', url: '#' %}

    {% render 'components/button/button', text: 'Test' %}

    {% render 'components/button/button', text: 'Test', variant: 'Secondary' %}

    {% include 'partials/theme-settings.liquid' %}

    {% include 'partials/global-scripts.html' %}
  </body>
</html>
