{% doc %}
  Section

  @param {HTMLString} content - The section Content.
  @param {String} [background_color] - The section Content.
  @param {String} [background_image_url] - The section Content.
{% enddoc %}

<div class="Section">
  {{ content }}
</div>
